@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<div class="row">
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Ajax #1
            </div>
            <div class="card-body">
                <p class="card-text" id="ajax1">...loading...</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Ajax #2
            </div>
            <div class="card-body">
                <p class="card-text" id="ajax2">...loading...</p>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header">
                Ajax #3
            </div>
            <div class="card-body">
                <p class="card-text" id="ajax3">...loading...</p>
            </div>
        </div>
    </div>
</div>
